<head>
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<!-- Intro Page -->
<div class="introP">
    <div>
        <h1 class="gamma lato thin uppercase ls-xlarge">
            <span class="open-sans tera ls-xlarge bold">2016 Mercedes C300 4Matic</span>
            <p >2043 Rue Highland, Montreal,<br>
                Quebec, H1V 6A5 Canada
            </p>
        </h1>
        
    </div> 
    <div style="margin-top: 2em;">
        <h3 class="lato thin" style="margin-bottom: 20px;"> Are you ready to inspect this Veichle?</h3>
        <span class="btnS"><a href="/preliminary"></a></span>
    </div> 
</div>
