<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/checkbox.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<div id="multi-step-form-container">
    <!-- Progress Bar -->
    <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
    
        <li class="form-stepper-active text-center form-stepper-list" step="1">
            <a class="mx-2">
                <span class="form-stepper-circle">
                    <span>1</span>
                </span>
                <div class="label">Air Conditioning</div>
            </a>
        </li>

    </ul>


    <div id="userAccountSetupForm" name="userAccountSetupForm">

        <section id="step-1" class="form-step">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h2 class="font-normal">Air Conditioning</h2>
                <div style="margin-top: -30px;">
                    <button class="button" onclick="location.href='/air-bag'" >Air Bag System</button>
                </div>
            </div>

            <div class="mt-3">  
                <p>The air conditioning works properly</p>
                <div style="display: flex; flex-direction: column; " class="selectVH">
    
                    <div class="dropdown">
                        <div class="select">
                            
                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>
                </div>
        </section>
        
    </div>
</div>

<script >
$('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });


const navigateToFormStep = (stepNumber) => {

    document.querySelectorAll(".form-step").forEach((formStepElement) => {
        formStepElement.classList.add("d-none");
    });

    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
        formStepHeader.classList.add("form-stepper-unfinished");
        formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });
 
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");

    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');

    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");

    for (let index = 0; index < stepNumber; index++) {
        const formStepCircle = document.querySelector('li[step="' + index + '"]');
 
        if (formStepCircle) {
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
            formStepCircle.classList.add("form-stepper-completed");
        }
    }
};

document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
    formNavigationBtn.addEventListener("click", () => {
        const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));

        navigateToFormStep(stepNumber);
    });
});

</script>