<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/checkbox.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<div id="multi-step-form-container">
    <!-- Progress Bar -->
    <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
    
        <li class="form-stepper-active text-center form-stepper-list" step="1">
            <a class="mx-2">
                <span class="form-stepper-circle">
                    <span>1</span>
                </span>
                <div class="label">Dome/Courtesy lights</div>
            </a>
        </li>
        <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
            <a class="mx-2">
                <span class="form-stepper-circle text-muted">
                    <span>2</span>
                </span>
                <div class="label text-muted">Lights Pt.1</div>
            </a>
        </li>
        <li class="form-stepper-unfinished text-center form-stepper-list" step="3">
            <a class="mx-2">
                <span class="form-stepper-circle text-muted">
                    <span>3</span>
                </span>
                <div class="label text-muted">Lights Pt.2</div>
            </a>
        </li>
        <li class="form-stepper-unfinished text-center form-stepper-list" step="4">
            <a class="mx-2">
                <span class="form-stepper-circle text-muted">
                    <span>4</span>
                </span>
                <div class="label text-muted">Lights Pt.3</div>
            </a>
        </li>
    </ul>


    <div id="userAccountSetupForm" name="userAccountSetupForm">

        <section id="step-1" class="form-step">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h2 class="font-normal">Dome/Courtesy lights</h2>
                <div style="margin-top: -30px;">
                    <button class="button btn-navigate-form-step" type="button" step_number="2">Next</button>
                </div>
            </div>
            
            <div class="mt-3">  
                <p>Check if dome/courtesy lights operate with door cycles</p>
                <div style="display: flex; flex-direction: column; " class="selectVH">
    
                    <div class="dropdown">
                        <div class="select">
                            
                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>
                </div>
            
        </section>
        <section id="step-2" class="form-step d-none">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h2 class="font-normal">Do the following work? Pt.1</h2>
                <div style="margin-top: -30px;">
                    <button class="button btn-navigate-form-step" type="button" step_number="1">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="3">Next</button>
                </div>
            </div>
            
            <div style="display: flex; flex-wrap: wrap;" class="mt-3">
                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Headlights</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Reflectors</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Parking Lights</span>
                    
                    <div class="dropdown">
                        <div class="select">
 
                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Brake Lights</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Warning Lights</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Turn Signal</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>


            </div>
            

        </section>
       
        <section id="step-3" class="form-step d-none">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h2 class="font-normal">Pt.2</h2>
                <div style="margin-top: -30px;">
                    <button class="button btn-navigate-form-step" type="button" step_number="2">Prev</button>
                    <button class="button btn-navigate-form-step" type="button" step_number="4">Next</button>
                </div>
            </div>
            
            <div style="display: flex; flex-wrap: wrap;" class="mt-3">
                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Hazard Light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Taillight</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Clearence light</span>
                    
                    <div class="dropdown">
                        <div class="select">
 
                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Identification light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Instrument light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Backup light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>


            </div>
            

        </section>

        <section id="step-4" class="form-step d-none">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h2 class="font-normal">Pt.3</h2>
                <div style="margin-top: -30px;">
                    <button class="button btn-navigate-form-step" type="button" step_number="3">Prev</button>
                    <button class="button" onclick="location.href='/trunk-comp'" >Trunk Compartment & coupling Devices</button>
                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap;" class="mt-3">
                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Dashboard light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Daytime light</span>
                    
                    <div class="dropdown">
                        <div class="select">

                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; " class="selectVH">
                    <span class="choose">Heater light</span>
                    
                    <div class="dropdown">
                        <div class="select">
 
                            <span style="margin-left: 5px;">Select</span>
                            <i style="position: relative; top: -2px;" class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu">
                            <li id="male">No Issues</li>
                            <li id="female">Minor Issues</li>
                            <li id="female">Major Issues</li>
                        </ul>
                    </div>
                </div>

                


            </div>
        </section>
        
    </div>
</div>

<script >
$('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });


const navigateToFormStep = (stepNumber) => {

    document.querySelectorAll(".form-step").forEach((formStepElement) => {
        formStepElement.classList.add("d-none");
    });

    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
        formStepHeader.classList.add("form-stepper-unfinished");
        formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });
 
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");

    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');

    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");

    for (let index = 0; index < stepNumber; index++) {
        const formStepCircle = document.querySelector('li[step="' + index + '"]');
 
        if (formStepCircle) {
            formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
            formStepCircle.classList.add("form-stepper-completed");
        }
    }
};

document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
    formNavigationBtn.addEventListener("click", () => {
        const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));

        navigateToFormStep(stepNumber);
    });
});

</script>